.app {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .app .card {
    margin: 117px 50px;
    height: auto;
    flex: 0 0 300px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    background: #fff;
  }
  
  .card .head {
    border-bottom: 1px solid #f0f0f0;
    padding: 0 12px;
    display: flex;
  }
  .card .head > * {
    flex: 1 1 50%;
    margin: 0;
    text-align: left;
    line-height: 32px;
  }
  .card .head > *:last-child {
    text-align: right;
  }
  
  .card .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .body .left {
    text-align: center;
    flex: 0 0 90px;
    border-right: 1px solid #f0f0f0;
  }
  .body .left img {
    width: 70px;
    height: 70px;
  }
  
  .body .right {
    flex: 1 1 auto;
    padding: 12px;
    border-left: 1px solid #f0f0f0;
    margin-left: -1px;
  }
  